:root {
  --ul-c-0z-o: rgba(255, 255, 255, 1);
  --p-90dez: rgba(27, 27, 27, 1);
  --q-lx-t7i: rgba(143, 0, 255, 1);
  --oxw-5lx: rgba(181, 216, 225, 1);
  --he-v-ds-q: rgba(253, 73, 61, 1);
  --variable-collection: rgba(252, 175, 23, 1);
}
